@using FoodMenu.Data.Entitie
@model Dish

<div class="row ml-3 mt-5">
    <div class="col-3">
        <img src="@Model.ImageURL" />
    </div>
    <div class="col-2">
        <h3>@Model.Name</h3>
        <p>Ingredients:</p>
        <ul>
            @foreach(var ingredient in Model.DishIngredients)
            {
                <li>
                    @ingredient.Ingredient.Name
                </li>
            }
        </ul>
    </div>
</div>
