@using FoodMenu.Data.Entitie
@model DishDetailsDto

<div class="row ml-3 mt-5">
    <div class="col-3">
        <img src="@Model.ImageURL" style="width:200px;height:300px"  />
    </div>
    <div class="col-2">
        <h3>@Model.Name</h3>
        <p>Ingredients:</p>
        <ul>
            @foreach(var ingredient in Model.Ingredients)
            {
                <li>
                    @ingredient.Name
                </li>
            }
        </ul>
    </div>
</div>
